snippet main
#include <stdio.h>
int main() {
  ${1:// Your code here}
}
endsnippet

snippet maina
#include <stdio.h>
int main(int argc, char *argv[]) {
  ${1:// Your code here}
}
endsnippet

snippet cmp
int cmp(const void *a, const void *b) { return ${1://content1} - ${2://content2}; }
endsnippet

